// Variables


$white: #fff !default;
$blue-100: #00DFFC !default;
$blue-200: #00B4CC !default;
$blue-300: #008C9E !default;
$blue-400: #005F6B !default;
$black: #161616 !default;

$primary: #64a19d !default;
