#mainNav {
  min-height: 56px;
  background-color: #fff; }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d; }
    #mainNav .navbar-toggler:focus {
      outline: none; }
  #mainNav .navbar-brand {
    color: #005F6B;
    font-weight: 700;
    padding: .9rem 0; }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent; }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
      #mainNav .navbar-brand {
        padding: .5rem 0;
        color: rgba(255, 255, 255, 0.5); }
      #mainNav .nav-link {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.5); }
        #mainNav .nav-link:hover {
          color: rgba(255, 255, 255, 0.75); }
        #mainNav .nav-link:active {
          color: white; }
      #mainNav.navbar-shrink {
        background-color: #fff; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #005F6B; }
        #mainNav.navbar-shrink .nav-link {
          color: #005F6B;
          padding: 1.5rem 1.5rem 1.25rem;
          border-bottom: 0.25rem solid transparent; }
          #mainNav.navbar-shrink .nav-link:hover {
            color: #64a19d; }
          #mainNav.navbar-shrink .nav-link:active {
            color: #467370; }
          #mainNav.navbar-shrink .nav-link.active {
            color: #64a19d;
            outline: none;
            border-bottom: 0.25rem solid #64a19d; } }

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(85%, rgba(255, 255, 255, 0.3)), to(#fff)), url("../img/bg-cdmx-2.jpg");
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 85%, #fff 100%), url("../img/bg-cdmx-2.jpg");
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 85%, #fff 100%), url("../img/bg-cdmx-2.jpg");
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 85%, #fff 100%), url("../img/bg-cdmx-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem; }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0; }
      .masthead h2 {
        max-width: 30rem;
        font-size: 1.9rem;
        color: #005F6B !important; } }

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0; }

.btn-primary {
  background-color: #64a19d; }
  .btn-primary:hover {
    background-color: #4f837f; }
  .btn-primary:focus {
    background-color: #4f837f;
    color: white; }
  .btn-primary:active {
    background-color: #467370 !important; }

.projects-section {
  padding: 10rem 0; }
  .projects-section .featured-text {
    padding: 2rem; }
    @media (min-width: 992px) {
      .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d; } }
  .projects-section span {
    margin-top: 4px;
    font-size: 80%; }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%; }
    @media (min-width: 992px) {
      .projects-section .project-text {
        padding: 5rem; }
        .projects-section .project-text hr {
          border-color: #64a19d;
          border-width: .25rem;
          width: 30%; } }

.pagination-section .pagination {
  width: 156px;
  border-bottom: 1px solid #64a19d; }
  .pagination-section .pagination .page-link {
    color: #008C9E;
    border: none;
    font-size: 1.3rem; }

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-login.jpg");
  background: -webkit-linear-gradient(top, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-login.jpg");
  background: -o-linear-gradient(top, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-login.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .signup-section .form-inline input {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0; }

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em; }

a {
  color: #64a19d; }
  a:focus, a:hover {
    text-decoration: none;
    color: #3c6360; }

.bg-black {
  background-color: #161616 !important; }

.bg-primary {
  background-color: #64a19d !important; }

.text-primary {
  color: #64a19d !important; }

aside {
  height: 800px;
  overflow: scroll; }

footer {
  padding: 5rem 0; }
